body, #animalButtons {
	width: 1480px;
}

.animal {
	float: left;
	margin: 20px;
}

#animals {
	width: 1280px;
	clear: left;


}

#animal-form {
	margin-top: 40px;
	float: right;
	width: 180px;
	position: relative;
}

.animal-button {
	margin-right: 6px;
	margin-bottom: 6px;
	float: left;

}

.animal-button-color, #addAnimal {
	background-color: #008080;
	color: white;
	padding: 4px 12px 4px 12px;
	border-radius: 6px;
}

input {
	margin-top: 10px;
	border-radius: 6px;
}

